#slide_2x3{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}

#slide_2x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x3 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_2x3 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_2x3 .boton_formacion:hover {
    background: transparent url(assets/boton_form_ho.png) no-repeat 0;
}
#slide_2x3 .boton_formacion {
    background: transparent url(assets/boton_form.png) no-repeat 0;
}

#popup2-3-1{
    background-image: url('assets/popup1.png');
    width: 1232px;
    height: 708px;
    top: 16%;
    left: 17%;
}
#popup2-3-2{
    background-image: url('assets/popup2.png');
    width: 1434px;
    height: 757px;
    top: 13%;
    left: 14%;
}

#popup2-3-3{
    background-image: url('assets/popup3.png');
    width: 1434px;
    height: 787px;
    top: 9%;
    left: 12%;
}
#popup2-3-4{
    background-image: url('assets/popup4.png');
    width: 1232px;
    height: 713px;
    top: 13%;
    left: 17%;
}
#popup2-3-1 .close-popup{
    top: 15%;
    right: 0%;
    width: 80px;
    height: 80px;
}
#popup2-3-2 .close-popup{
    top: 10%;
    right: 0%;
    width: 80px;
    height: 80px;
}
#popup2-3-3 .close-popup{
    top: 10%;
    right: 0%;
    width: 80px;
    height: 80px;
}
#popup2-3-4 .close-popup{
    top: 16%;
    right: 0%;
    width: 80px;
    height: 80px;
}

#slide_2x3 .btn-popup-1{
    left: 17%;
    top: 83%;
    width: 13%;
    height: 7%;
}
#slide_2x3 .btn-popup-2{
    left: 40%;
    top: 83%;
    width: 11%;
    height: 7%;
}
#slide_2x3 .btn-popup-3{
    left: 51.5%;
    top: 83%;
    width: 11%;
    height: 7%;
}
#slide_2x3 .btn-popup-4{
    left: 73%;
    top: 83%;
    width: 13%;
    height: 7%;
}
#slide_2x3 .aspas1{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -27%;
    right: -3%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x3 .aspas2{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -26%;
    right: -11%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x3 .aspas3{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -26%;
    right: -10%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x3 .aspas4{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -26%;
    right: -3%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x3 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 90%;
    position: absolute;
}