#slide_2x4{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_2x4 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_2x4 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_2x4 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x4 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x4 .btn-tv {
    background-image: url(assets/funsolTV.png);
    position: absolute;
    width: 140px;
    height: 140px;
    top: 4%;
    left: 90%;
    background-size: 100%;
}

#slide_2x4llamada_popup1{
    /* background: red; */
    position: absolute;
    top: 70.83%;
    left: 65.10%;
    width: 499px;
    height: 192px;
    /* opacity: 0.5; */
}

#slide_2x4capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_2x4popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 7.41%;
    left: 11.20%;
    width: 77.86%;
    height: 86.11%;
}

#slide_2x4cerrar_popup1{
    /* background: red; */
    position: absolute;
    top: 4%;
    right: 2%;
    width: 7%;
    height: 11%;
}

#popup2_4_1_btn_video {
    position: absolute;
    width: 20%;
    height: 33%;
    top: 20%;
    left: 10%;
    background: transparent url(assets/btn-plus.png) no-repeat 80% bottom;

}

#slide_2x4 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 59%;
    left: 26%;
    position: absolute;
}
#slide_2x4 .btn-producto2{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 37%;
    left: 18%;
    position: absolute;
}