#slide_0x0{
    background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;
}

.portada-titulo{
    font-size: 50px;
    position: absolute;
    top: 27%;
    left: 6.3%;
    color: white;
    font-family: Helvetica;
}
.portada-box{
        width: 70px;
    height: 20px;
    position: absolute;
    top: 21%;
    left: 6.3%;
    background-color: #00396a
}

.portada-txt{
    font-size: 568%;
    position: absolute;
    top: 13%;
    left: 6%;
    color: white;
    width: 100%;
    text-align: left;
}

ul.portada-btn{
    position: absolute;
    bottom: 10%;
    left: 5.3%;
    width: 87%;
    list-style-type: none; 
}

.portada-btn li {
    color: #379e33;
    width: 23%;
    border: 1px solid;
    border-radius: 80px;
    background: #f5fafb;
    text-align: center !important;
    font-family: Helvetica-Bold;
    padding: 2.1% 0% 2.1% 0%;
    margin-bottom: 42px !important;
}

.line{
    background: #f5fafb;
    width: 5%;
    height: 2%;
    position: absolute;
    top: 53%;
    left: 10.1%;
}