#slide_4x4{
    background: transparent url('assets/bg.png') no-repeat 0; 
    background-size: 100%;
}
#slide_4x4 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_4x4 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x4 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x4 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_4x4 .bola1 {
    top: 42% !important;
}
#slide_4x4 .bola2 {
    top: 48% !important;
}
#slide_4x4 .bola3 {
    top: 54% !important;
}


#slide_4x4 #anim-1x0{background-image: url('assets/content1.png');}
#slide_4x4 #anim-1x1{background-image: url('assets/content2.png');}

/*TAMAÑO Y POSICIÓN DEL DIV DE LA ANIMACION*/
#slide_4x4 .content-anim {
    position: absolute;
    width: 500px;
    height: 736px;
    top: 14%;
    left: 8.5%;
}
/*BOTON DE TOGGLE EN LAS ANIMACIONES*/
#slide_4x4 .toggle-btn {
    position: absolute;
    width: 22%;
    height: 8%;
    top: 89%;
    left: 16%;
    background-size: 100%;
}
#slide_4x4 .anim.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#slide_4x4 .anim{
    background-repeat: no-repeat;
    width: 488px;
    height: 735px;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}
#slide_4x4 .btn-home {
    background: transparent url(assets/back.png) no-repeat center center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    background-size: 70%;
}
#slide_4x4 .btn-popup-1 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 46%;
    top: 54%;
    background-size: 100%;
}
#popup4-4-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
#popup4-4-1{
    background-image: url('assets/popup1.png');
    width: 96%;
    height: 88%;
    top: 5%;
    left: 0%;
}
#slide_4x4 .btn-popup-1 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 3%;
    top: 50%;
    background-size: 100%;
}
#popup4-4-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}