#slide_2x3{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_2x3 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_2x3 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_2x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x3 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 75%;
    left: 86%;
    position: absolute;
}
#slide_2x3 .btn-tv {
    background-image: url(assets/funsolTV.png);
    position: absolute;
    width: 200px;
    height: 190px;
    top: 4%;
    left: 87%;
    background-size: 100%;
}
