#slide_1x2{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
.btn_1x2-goto1{
    position: absolute;
    top: 88.5%;
    left: 93.5%;
    width: 105px;
    height: 106px;
}