#slide_1x4{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}

/*POSICION DE LOS BOTONES POPUP*/

#slide_1x4 .btn-popup-1{
    left: 11.41%; top: 31.61%; width: 12.88%; height: 22.91%;
}
#slide_1x4 .btn-popup-2{
    left: 24.50%;
    top: 31.61%;
    width: 12.88%;
    height: 22.91%;
}
#slide_1x4 .btn-popup-3{
    left: 10.41%;
    top: 58.5%;
    width: 12.88%;
    height: 26.91%;
}
#slide_1x4 .btn-popup-4{
    left: 24.58%;
    top: 56.5%;
    width: 12.88%;
    height: 27.91%;
}
#slide_1x4 .btn-popup-5{
    left: 43.58%;
    top: 31.4%;
    width: 11.88%;
    height: 24.5%;
}
#slide_1x4 .btn-popup-6{
    left: 56.58%;
    top: 34.5%;
    width: 11.88%;
    height: 21%;
}
#slide_1x4 .btn-popup-7{
    left: 42.58%;
    top: 64.5%;
    width: 11.88%;
    height: 20.00%;
}
#slide_1x4 .btn-popup-8{
    left: 55.58%;
    top: 56.5%;
    width: 12.5%;
    height: 29%;
}
#slide_1x4 .btn-popup-9{
    left: 75.7%;
    top: 30.5%;
    width: 11.88%;
    height: 26%;
}
#slide_1x4 .btn-popup-10{
    left: 75.58%;
    top: 63.5%;
    width: 11.88%;
    width: 12%;
    height: 21%;
}

#popup1-4-1{
    background-image: url('assets/popup1.png');
    width: 74%;
    height: 86%;
    top: 7%;
    left: 11%;
}

#popup1-4-2{
    background-image: url('assets/popup2.png');
    width: 81%;
    height: 88%;
    top: 7%;
    left: 8%;
}

#popup1-4-3{
    background-image:  url('assets/popup3.png');
    width: 81%;
    height: 86%;
    top: 7%;
    left: 8%;
}
#popup1-4-4{
    background-image:  url('assets/popup4.png');
    width: 83%;
    height: 89%;
    top: 8%;
    left: 7%;
}
#popup1-4-5{
    background-image:  url('assets/popup5.png');
    width: 74%;
    height: 86%;
    top: 7%;
    left: 11%;
}
#popup1-4-6{
    background-image:  url('assets/popup6.png');
    width: 81%;
    height: 87%;
    top: 7%;
    left: 8%;
}
#popup1-4-7{
    background-image:  url('assets/popup7.png');
    width: 74%;
    height: 87%;
    top: 7%;
    left: 11%;
}
#popup1-4-8{
    background-image:  url('assets/popup8.png');
    width: 82%;
    height: 87%;
    top: 7%;
    left: 7%;
}
#popup1-4-9{
    background-image:  url('assets/popup9.png');
    width: 82%;
    height: 86%;
    top: 7%;
    left: 7%;
}
#popup1-4-10{
    background-image:  url('assets/popup10.png');
    width: 75%;
    height: 87%;
    top: 7%;
    left: 11%;
}

#popup1-4-1 .close-popup, #popup1-4-2 .close-popup, #popup1-4-3 .close-popup, #popup1-4-4 .close-popup, #popup1-4-5 .close-popup, #popup1-4-6 .close-popup, #popup1-4-7 .close-popup, #popup1-4-8 .close-popup, #popup1-4-9 .close-popup, #popup1-4-10 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}

#slide_1x4 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x4 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x4 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_1x4 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#anuciotv_1x{
    background: transparent url('assets/tv_supradyn.png') no-repeat center center;
    background-size: 100%;
}


#slide_1x4 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 28%;
    left: 29%;
    position: absolute;
}
#slide_1x4 .btn-producto2{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 27%;
    position: absolute;
}
#slide_1x4 .btn-producto3{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 35%;
    left: 36%;
    position: absolute;
}
#slide_1x4 .btn-producto4{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 33%;
    left: 29%;
    position: absolute;
}
#slide_1x4 .btn-producto5{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 31%;
    left: 35%;
    position: absolute;
}
#slide_1x4 .btn-producto6{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 33%;
    left: 31%;
    position: absolute;
}
/*#slide_1x4 .bola1{top: 25%;}
#slide_1x4 .bola2{top: 31%;}
#slide_1x4 .bola3{top: 37%;}
#slide_1x4 .bola4{top: 43%;}
#slide_1x4 .bola5{top: 49%;}
#slide_1x4 .bola6{top: 55%;}
#slide_1x4 .bola7{top: 61%;}*/