#slide_3x9{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x9 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x9 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x9 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x9 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_3x9 .img-swiper {
    background-image: url(assets/bg2-img.png);
    background-repeat: no-repeat;
    height: 611px;
    width: 0%;
    top: 4px;
    position: absolute;
}

#slide_3x9llamada_popup1{
    /*background: red;*/
    position: absolute;
    top: 85%;
    left: 47%;
    width: 6%;
    height: 10%;
    /*opacity: 0.5;*/
}

#slide_3x9capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_3x9popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 94%;
    height: 91%;
    z-index: 10;
}

#slide_3x9cerrar_popup1{
    /* background: red; */
    /* opacity: 0.5; */
    position: absolute;
    top: 6%;
    right: 2%;
    width: 4%;
    height: 9%;
}

#content-img-swiper{
    position: absolute;
    width: 1570px;
    height: 616px;
    top: 298px;
    left: 174px;
}



#slide_3x9 span.ui-slider-handle.ui-state-default.ui-corner-all {
    background: transparent url(assets/slider.png) no-repeat center  center;
    width: 71px;
    height: 71px;
    top: -28px;
    border: 0;
    outline: none;    
}

#slide_3x9 span.ui-slider-handle.ui-state-default.ui-corner-all::before{
    background: rgba(215, 87, 106, 0.5);
    height: 616px;
    width: 1px;
    content: " ";
    position: absolute;
    top: -473px;
    box-shadow: -5px 0px 9px rgba(0,0,0,0);
    left: 35px;
}

#slide_3x9 #master{
    width: 1570px;
    margin: 15px;
    position: absolute;
    bottom: 23.3%;
    left: 8.3%;
    border: none;
    background: none;
    margin-left: -10px;
}

#anuciotv_3x{
    background: transparent url('assets/tv_bepanthol.png') no-repeat center center;
}
