<div class="ap-toolbar">
    <div class="bar">

        <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-overview"></div>
        <!--    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-custom-collections-menu"></div>-->
        <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-video-library"></div>
        <!--    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-follow-up-mail"></div>-->
        <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-media-library"></div>
        <!--    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-frequently-asked-questions"></div>-->
        <!--    <div class="button" data-toolbar-state="minimized" data-module-to-load="ap-specific-product-characteristics"></div>-->
        <!--    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-reference-library"></div>-->
        <!--    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-provide-slides"></div>-->
        <div class="button notepad"></div>
        <div class="button jumpToLastSlide"></div>
        <div class="button back"></div>
    </div>
    <div class="content" data-module-container>
        <!-- occupied by currently loaded module -->
        <div data-module="ap-overview" hide></div>
        <div data-module="ap-custom-collections-menu" hide></div>
        <div data-module="ap-custom-collections" hide ></div>
        <div data-module="ap-media-library" hide> </div>
        <div data-module="ap-reference-library" hide> </div>
        <div data-module="ap-video-library" hide> </div>
        <div data-module="ap-follow-up-mail" hide> </div>
        <div data-module="ap-frequently-asked-questions" hide> </div>
        <div data-module="ap-specific-product-characteristics"> </div>
        <div data-module="ap-provide-slides"></div>
        <div data-module="ap-back-navigation"> </div>
    </div>
</div>
