#slide_4x3{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_4x3 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_4x3 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_4x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_4x3llamada_popup2{
    position: absolute;
    top: 86%;
    left: 37%;
    width: 26%;
    height: 7%;
}
#slide_4x3capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#slide_4x3 #popup4_4_5_btn_video{
    position: absolute;
    width: 179px;
    height: 60px;
    top: 27%;
    left: 10%;
}
#slide_4x3 .btn-tv{
    background-image: url(assets/tv_iberogast.png);
    background-size: 100%;
    width: 282px;
    height: 311px;
    top: 0;
    left: 0%;

}

