#slide_4x3{
    background: transparent url('assets/bg.png') no-repeat 0; 
    background-size: 100%;
}
#slide_4x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_4x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x3 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x3 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_4x3 .bola1 {
    top: 42% !important;
    z-index: 3;
}
#slide_4x3 .bola2 {
    top: 48% !important;
    z-index: 3;
}
#slide_4x3 .bola3 {
    top: 54% !important;
    z-index: 3;
}



#item4x3_1 {
    background: transparent url(assets/dragg.png) no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 22.26%;
    left: 23.55%;
    width: 417px;
    height: 416px;
    z-index: 3;
}

#contenido {

    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;;
    height: 100%;
}
#contenido .contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

#contenido .contenido-1{
    background-image: url(assets/content1.png);
    width: 959px;
    height: 183px;
    top: 67%;
    left: 12%;
}

#contenido .contenido-2{
    background-image: url(assets/content2.png);
    opacity: 0;
    position: absolute;
    width: 1557px;
    height: 710px;
    left: 9.75%;
    top: 24.3%;

}
#contenido .flecha-contenido{
    background-image: url(assets/info.png);
    opacity: 1;
    position: absolute;
    width: 492px;
    height: 272px;
    left: 47%;
    top: 30%;
}


#zonadrop4x3_1 {
    position: absolute;
    top: 29.9%;
    left: 65.2%;
    width: 25.7%;
    height: 45.6%;
}


/*** Clickme ***/
.clickme{
    animation: clickme 1.5s linear;
    -webkit-animation: clickme 1.5s linear;	
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

@keyframes clickme {
    0% { 
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }	
    100% {
        transform: scale(1);
    }			
}

@-webkit-keyframes clickme {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
    }	
    100% {
        -webkit-transform: scale(1);
    }			
}

/**** TODO estilar botó de reset ****/
#slide_4x3 .btn-reset {
    position: absolute;
        top: 78.7%;
    left: 93%;
    width: 3.4%;
    height: 6.2%;
    background: rgb(228, 228, 228) url('assets/ic-reset.png') no-repeat center center;
    background-size: 50%;
    border-radius: 15px;
}


.hidden{
    opacity: 0;
}
#slide_4x3 .btn-home {
    background: transparent url(assets/back.png) no-repeat center center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    background-size: 70%;
}

#popup4-3-1{
    background-image: url('assets/popup1.png');
    width: 96%;
    height: 88%;
    top: 5%;
    left: 0%;
}
#slide_4x3 .btn-popup-1 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 46%;
    top: 54%;
    background-size: 100%;
}
#popup4-3-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
#popup4-3-1{
    background-image: url('assets/popup2.png');
    width: 96%;
    height: 88%;
    top: 5%;
    left: 0%;
}
#slide_4x3 .btn-popup-1 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 3%;
    top: 50%;
    background-size: 100%;
}
#popup4-3-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}