#slide_2x1{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}

#slide_2x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x1 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_2x1 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_2x1 .boton_formacion:hover {
    background: transparent url(assets/boton_form_ho.png) no-repeat 0;
}
#slide_2x1 .boton_formacion {
    background: transparent url(assets/boton_form.png) no-repeat 0;
}

#popup2-1-2{
    background-image: url('assets/popup1.png');
    width: 1011px;
    height: 953px;
    top: 4%;
    left: 23%;
}
#popup2-1-1{
    background-image: url('assets/popup2.png');
    width: 1261px;
    height: 669px;
    top: 13%;
    left: 17%;
}
#popup2-1-1 .close-popup{
    top: 8%;
    right: 0%;
    width: 80px;
    height: 80px;
}
#popup2-1-2 .close-popup{
    top: 13%;
    right: 0%;
    width: 80px;
    height: 80px;
}

#slide_2x1 .btn-popup-1{
    left: 60%;
    top: 83%;
    width: 13%;
    height: 7%;
}
#slide_2x1 .btn-popup-2{
    left: 73%;
    top: 83%;
    width: 13%;
    height: 7%;
}
#slide_2x1 .aspas1{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -26%;
    right: -8%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x1 .aspas2{
    background: transparent url(assets/aspas.png) no-repeat center;
    top: -26%;
    right: -4%;
    background-size: 70%;
    width: 63px;
    height: 63px;
    z-index: 1;
    position: absolute;
}
#slide_2x1 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 27%;
    left: 52.7%;
    position: absolute;
}