#slide_3x2{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x2 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x2 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x2 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x2 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#anuciotv_3x2{
    width: 310px;
    height: 172px;
    position: absolute;
    top: 8%;
    left: 81%;
}
#slide_3x2llamada_popup1{
    position: absolute;
    top: 47.4%;
    left: 37%;
    width: 714px;
    height: 152px;
}
#slide_3x2llamada_popup2{
    position: absolute;
    top: 62.4%;
    left: 58%;
    width: 595px;
    height: 162px;
}
#slide_3x2capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#slide_3x2popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 94%;
    height: 91%;
}
#slide_3x2popup1.ver2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
}

#slide_3x2cerrar_popup1{
    /* background: red; */
    /* opacity: 0.5; */
    position: absolute;
    top: 4.7%;
    right: 2.3%;
    width: 4%;
    height: 9%;
}

#slide_3x2popup2{
    background: transparent url('assets/popup3.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6%;
    left: 2%;
    width: 95%;
    height: 89%;
}
#slide_3x2popup2.ver2{
    background: transparent url('assets/popup4.png') no-repeat 0;
    background-size: contain;
}
#slide_3x2cerrar_popup2{
    position: absolute;
    top: 4.7%;
    right: 2.3%;
    width: 4%;
    height: 8%;
}
.bgpopup{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 45%;
}
.bgpopup-prev{
    left: 1%;
}
.bgpopup-next{
    left: 93.5%;
}
#slide_3x2 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 33%;
    left: 33%;
    position: absolute;
}