#slide_3x5{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x5 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x5 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x5 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x5 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#anuciotv_3x{
    background: transparent url('assets/tv_bepanthol.png') no-repeat center center;
}
#slide_3x5 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 23%;
    left: 46%;
    position: absolute;
}