#slide_1x6{
    background: transparent url('assets/bg.png') no-repeat 0; 
    background-size: 100%;
    background-color: white;
}

#slide_1x6 .btn-popup-1{
    left: 75%; top: 13%; width: 250px; height: 250px;
}
#slide_1x6 .btn-popup-2{
    left: 75%; top: 39%; width: 250px; height: 250px;
}
#slide_1x6 .btn-popup-3{
    left: 75%; top: 64%; width: 250px; height: 250px;
}

#popup1-6-1{
    background-image: url('assets/popup1.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 12%;
}

#popup1-6-2{
    background-image: url('assets/popup2.png');
    width: 69%;
    height: 78%;
    top: 11%;
    left: 14%;
}

#popup1-6-3{
    background-image:  url('assets/popup3.png');
    width: 81%;
    height: 71%;
    top: 16%;
    left: 8% !important;
}

#popup1-6-1 .close-popup, #popup1-6-2 .close-popup, #popup1-6-3 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}

#slide_1x6 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x6 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x6 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}

#slide_1x6 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_1x6 .cara.show{
    opacity:1;
}
#slide_1x6 .cara {
    width: 25%;
    height: 100%;
    opacity:0;
    transition:all 0.4s;
}
#slide_1x6 .cara-1 {background: transparent url(assets/c1.png)no-repeat center center;}
#slide_1x6 .cara-2 {background: transparent url(assets/c2.png)no-repeat center center;}
#slide_1x6 .cara-3 {background: transparent url(assets/c3.png)no-repeat center center;}
#slide_1x6 .cara-4 {background: transparent url(assets/c4.png)no-repeat center center;}

#slide_1x6 .drag-obj {
    width:70px;
    height:70px;
    cursor:move;
    z-index:1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#slide_1x6 .drag-obj.activeDrag {
    z-index:2;
}

#slide_1x6 .slider-demo {
    height: 34%;
    width: 37%;
    position: absolute;
    top: 55%;
    left: 54%;
    z-index: -1;
    display: flex;
}

#slide_1x6 #sliderValue {
    background-color:#fff;
    border-radius:20px;
    color:#000;
    float:right;
    margin-right:80px;
    padding:3px 6px;
    text-align:center;
    width:60px;
    box-shadow:2px 2px 4px #333 inset;
}
#slide_1x6 #slideHandle {
    background: transparent url(assets/slider.png) no-repeat center  center;
    cursor: pointer;
    height: 100%;
    /*width: 9.667%;*/
    top: -48%;
    position: relative;
    z-index: -1;
}


#slide_1x6 #sliderDemo {
    background-image: url(assets/linea.png);
    background-position: -25% 0;
    background-repeat: no-repeat;
    height: 5%;
    /*width: 32%;*/
    width: 550px;
    top: 84.3%;
    position: relative;
    left: 58.1%;
    z-index: -1;
}

#slide_1x6 #sliderIndication{
    height: 0.7%;
    top: 83%;
    left: 58.1%;
    background-color: #be2a2a;
    border-radius: 3%;
    opacity: 0.5;
    z-index: -1;
}
/*#slide_1x6 .ui-widget.ui-widget-content {
    background-image: url(assets/linea.png);
    position: absolute;
    top: 80%;
    left: 57%;
    width: 550px !important;
    height: 8px;
}
#slide_1x6 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: url(assets/slider.png);
    width: 46px;
    height: 46px;
    font-weight: normal;
    margin-top: -3%;
    outline: none;
    border: 0px;
}
#slide_1x6 .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background-color: #be2a2a;
}*/

#anuciotv_1xS{
    background: transparent url('assets/tv_supradyn.png') no-repeat center center;
    background-size: 100%;
    width: 129px;
    height: 137px;
    top: 2%;
    left: 87%;
    position: absolute;
}
#slide_1x6 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 17%;
    left: 24.7%;
    position: absolute;
}
#slide_1x6 .bola1{top: 25%;}
#slide_1x6 .bola2{top: 31%;}
#slide_1x6 .bola3{top: 37%;}
#slide_1x6 .bola4{top: 43%;}
#slide_1x6 .bola5{top: 49%;}
#slide_1x6 .bola6{top: 55%;}
#slide_1x6 .bola7{top: 61%;}