#slide_4x0{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_4x0 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_4x0 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_4x0 #anuciotv_4x{
    top: 0%;
    left: 8%;
    width: 13%;
    height: 26%;
}