#slide_1x1{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_1x1 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_1x1 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_1x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x1 .bola1 {
    top: 47%;
}
#slide_1x1 .bola2 {
    top: 53%;
}
#slide_1x1llamada_popup1{
    position: absolute;
    top: 31.56%;
    left: 10.5%;
    width: 24%;
    height: 34.48%;
    z-index: 3;
}
#slide_1x1popup1{
    background: transparent url('assets/popup_gine.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 19%;
    left: 19.5%;
    width: 1224px;
    height: 717px;
    z-index: 2;
}
#js-close-videos {
    background: transparent url(assets/close.popup.png) 0 no-repeat;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 8.5%;
    top: 11%;
}
#popup1_1_1_btn_video {
    position: absolute;
    top: 37%;
    left: 8%;
    width: 490px;
    height: 380px;
}
#popup1_1_2_btn_video {
    position: absolute;
    top: 37%;
    left: 52%;
    width: 490px;
    height: 380px;
}
#slide_1x1capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#slide_1x1cerrar_popup1{
    position: absolute;
    bottom: 83%;
    left: 90%;
    width: 78px;
    height: 78px;
}