#slide_1x2{
    background: transparent url('assets/bg.png') no-repeat 0; 
    background-size: 100%;
    background-color: white;
}

#slide_1x2 .btn-popup-1{
    left: 42%;
    top: 69%; 
    width: 250px; 
    height: 250px;
}

#popup1-2-1{
    background-image: url('assets/popup1.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 12%;
}

#popup1-2-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}

#slide_1x2 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x2 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x2 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}

#slide_1x2 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_1x2 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 50%;
    left: 90.7%;
    position: absolute;
}
/*#slide_1x2 .bola1{top: 25%;}
#slide_1x2 .bola2{top: 31%;}
#slide_1x2 .bola3{top: 37%;}
#slide_1x2 .bola4{top: 43%;}
#slide_1x2 .bola5{top: 49%;}
#slide_1x2 .bola6{top: 55%;}
#slide_1x2 .bola7{top: 61%;}*/