#slide_1x0{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_1x0 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_1x0 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_1x0 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x0 .bola1 {
    top: 47%;
}
#slide_1x0 .bola2 {
    top: 53%;
}
#slide_1x0 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
.btn_1x0-goto1{
    position: absolute;
    top: 22.8%;
    left: 8.5%;
    width: 405px;
    height: 677px;
}
.btn_1x0-goto2{
    position: absolute;
    top: 22.8%;
    left: 32.5%;
    width: 611px;
    height: 328px;
}
.btn_1x0-goto3{
    position: absolute;
    top: 54.5%;
    right: 35.7%;
    width: 611px;
    height: 328px;
}
.btn_1x0-goto4{
    position: absolute;
    top: 22.8%;
    left: 66%;
    width: 486px;
    height: 677px;
}
.btn_1x0-goto5{
    position: absolute;
    top: 86.5%;
    left: 77%;
    width: 405px;
    height: 106px;
}
