/* BULLETS NAVEGACIÓN*/
#slide_1x4 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x4 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x4 .bola1 {
    top: 47%;
}
#slide_1x4 .bola2 {
    top: 53%;
}

#slide_1x4 .bola3 {
    top: 59%;
}

#slide_1x4{
    background-size: 100%;
}
#slide_1x4capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#slide_1x4 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 37%;
    left: 80%;
    position: absolute;
}
#slide_1x4 .btn-tv{
    width: 244px;
    height: 128px;
    top: 6%;
    left: 1%;
}
#slide_1x4 .btn_1x4-goto1{
    background: transparent url('assets/home.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 88.5%;
    left: 93.5%;
    width: 70px;
    height: 70px;
    z-index: 10;
}


/*POPUPS*/

#slide_1x4llamada_popup1{
    position: absolute;
    top: 68.56%;
    left: 82.5%;
    width: 13%;
    height: 6.48%;
    z-index: 3;
}
#slide_1x4popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6.48%;
    left: 2%;
    width: 1850px;
    height: 961px;
    z-index: 4;
}
#slide_1x4cerrar_popup1 {
    position: absolute;
    bottom: 87.2%;
    left: 93.6%;
    width: 78px;
    height: 78px;
}
#slide_1x4llamada_popup2{
    position: absolute;
    top: 89.56%;
    left: 69.5%;
    width: 13%;
    height: 6.48%;
    z-index: 3;
}
#slide_1x4popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6.48%;
    left: 2%;
    width: 1850px;
    height: 961px;
    z-index: 4;
}
#slide_1x4cerrar_popup2 {
    position: absolute;
    bottom: 87.2%;
    left: 93.6%;
    width: 78px;
    height: 78px;
}

/*BOTONES NEXT Y PREV*/

#slide_1x4 .btn-prev-off{
    background: transparent url('assets/left_off.png') no-repeat 0;
    background-size: 100%;
    width: 59px;
    height: 59px;
    top: 50%;
    left: 1%;
    position: absolute;
}
#slide_1x4 .btn-prev{
    background: transparent url('assets/left_on.png') no-repeat 0;
    background-size: 100%;
    width: 59px;
    height: 59px;
    top: 50%;
    left: 1%;
    position: absolute;
}
#slide_1x4 .btn-next-off{
    background: transparent url('assets/right_off.png') no-repeat 0;
    background-size: 100%;
    width: 59px;
    height: 59px;
    top: 50%;
    right: 1%;
    position: absolute;
}
#slide_1x4 .btn-next{
    background: transparent url('assets/right_on.png') no-repeat 0;
    background-size: 100%;
    width: 59px;
    height: 59px;
    top: 50%;
    right: 1%;
    position: absolute;
}

/*FUNCIONALIDAD NEXT-PREV BG*/

#content_1x4_1{background: transparent url('assets/bg1.png') no-repeat 0;}
#content_1x4_2{background: transparent url('assets/bg2.png') no-repeat 0;}
#content_1x4_3{background: transparent url('assets/bg3.png') no-repeat 0;}

.contencito{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-size: 100%;
    opacity: 0;
    z-index: -1;
}
#slide_1x4_bg.content1 #content_1x4_1{
    opacity: 1;
    z-index: 1;
}
#slide_1x4_bg.content2 #content_1x4_2{
    opacity: 1;
    z-index: 1;
}
#slide_1x4_bg.content3 #content_1x4_3{
    opacity: 1;
    z-index: 1;
}