@font-face {
  font-family: 'Helvetica-Light';
  src: url('assets/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/Helvetica-Light.woff') format('woff'), url('assets/fonts/Helvetica-Light.ttf')  format('truetype'), url('assets/fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('assets/fonts/HelveticaBold.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/HelveticaBold.otf') format('opentype'),
        url('assets/fonts/HelveticaBold.woff') format('woff'), 
        url('assets/fonts/HelveticaBold.ttf') format('truetype'), 
        url('assets/fonts/HelveticaBold.svg#HelveticaBold') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: HelveticaLTStd-Bold;
    src: url('assets/fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/HelveticaLTStd-Bold.otf') format('opentype'),
        url('assets/fonts/HelveticaLTStd-Bold.woff') format('woff'), 
        url('assets/fonts/HelveticaLTStd-Bold.ttf') format('truetype'), 
        url('assets/fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd') format('svg');
}
@font-face {
    font-family: HelveticaNeueLTPro-It;
    src: url('assets/fonts/HelveticaNeueLTPro-It.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/HelveticaNeueLTPro-It.otf') format('opentype'),
        url('assets/fonts/HelveticaNeueLTPro-It.woff') format('woff'), 
        url('assets/fonts/HelveticaNeueLTPro-It.ttf') format('truetype'), 
        url('assets/fonts/HelveticaNeueLTPro-It.HelveticaNeueLTPro-It') format('svg');
}
@font-face {
    font-family: HelveticaNeueLTPro-Bd;
    src: url('assets/fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/HelveticaNeueLTPro-Bd.otf') format('opentype'),
        url('assets/fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), 
        url('assets/fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype'), 
        url('assets/fonts/HelveticaNeueLTPro-Bd.HelveticaNeueLTPro-It') format('svg');
}
@font-face {
    font-family: HelveticaNeueLTPro-Roman;
    src: url('assets/fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/HelveticaNeueLTPro-Roman.otf') format('opentype'),
        url('assets/fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), 
        url('assets/fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), 
        url('assets/fonts/HelveticaNeueLTPro-Roman.HelveticaNeueLTPro-It') format('svg');
}
@font-face {
    font-family: NeusaSB;
    src: url('assets/fonts/Neusa-SemiBold.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/Neusa-SemiBold.otf') format('opentype'),
        url('assets/fonts/Neusa-SemiBold.woff') format('woff'), 
        url('assets/fonts/Neusa-SemiBold.ttf') format('truetype'), 
        url('assets/fonts/Neusa-SemiBold.svg#HelveticaLT') format('svg');
}
@font-face {
    font-family: Gotham-Bold;
    src: url('assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/Gotham-Bold.otf') format('opentype'),
        url('assets/fonts/Gotham-Bold.woff') format('woff'), 
        url('assets/fonts/Gotham-Bold.ttf') format('truetype'), 
        url('assets/fonts/Gotham-Bold.svg#HelveticaLT') format('svg');
}
@font-face {
    font-family: Gotham-Book;
    src: url('assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/Gotham-Book.otf') format('opentype'),
        url('assets/fonts/Gotham-Book.woff') format('woff'), 
        url('assets/fonts/Gotham-Book.ttf') format('truetype'), 
        url('assets/fonts/Gotham-Book.svg#HelveticaLT') format('svg');
}
@font-face {
    font-family: Gotham-Medium;
    src: url('assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), 
        url('assets/fonts/Gotham-Medium.otf') format('opentype'),
        url('assets/fonts/Gotham-Medium.woff') format('woff'), 
        url('assets/fonts/Gotham-Medium.ttf') format('truetype'), 
        url('assets/fonts/Gotham-Medium.svg#HelveticaLT') format('svg');
}