/* Root level styling */
body, #presentation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* prevent content to move out of screen when keyboard is up on iOS7 */
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica", sans-serif; /* set default font from fonts.css */
}



@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    body{
        width: 768px !important;
        height: 1024px !important;
    }

    html{
        height: 100%;
        max-height: 1024px;
    }}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    body{
        width: 1024px !important;
        height: 768px !important;
    }

    html{
        height:100%;
        max-height: 768px;
    }
    @media (max-height: 700px) {
        html{
            height:100%;
            max-height: 671px;
        }
    }
}
@-ms-viewport { width: 1920px !important; }

/*ESTILOS PROPIOS DE LOS MATERIALES*/

.logo{
    background: transparent url('assets/logo.png') no-repeat 0;
    position: absolute;
    height: 12%;
    width: 5%;
    right: 3.5%;
    top: 8%;
    z-index: 1;
    background-size: 100%;
}
.btn-tv {
    position: absolute;
    left: 3%;
    bottom: 52%;
    width: 78px;
    height: 78px;
    background: transparent no-repeat center 0;
    z-index: 2;}
.boton_expositor{
    width: 78px;
    height: 78px;
    bottom: 43%;
    left: 3%;
    position: absolute;
    z-index: 5;
}
.boton_formacion{
    width: 78px;
    height: 78px;
    bottom: 53%;
    left: 3%;
    position: absolute;
    z-index: 5;
}

.bola{
    background: url('assets/boton_inactivo.png');
    width: 62px;
    height: 62px;
    position: absolute;
    right: 1.5%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.bola1{top: 38%;}
.bola2{top: 44%;}
.bola3{top: 51%;}
.bola4{top: 58%;}

.overlay{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display:none;
    z-index: 5;
}
.open-popup{
    position: absolute;
    top: 38%;
    height: 40%;
}
.popup{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.popup.active{
    z-index: 5;
    opacity: 1;
    left: 0.5%;
}
.bgred{
    background-color: rgba(100,0,0,0.5);
}
.abs{
    position: absolute;
}
.bgsize{
    background-repeat: no-repeat;
    background-size: 100%;
}

.hide{
    opacity: 0;
}

.slide-supradyn .btn-plus {
    background: transparent url(assets/btn-plus.png) no-repeat right bottom;
}
#presentation .videoPopup .close {
    background: transparent url(assets/close.popup.png) 0 no-repeat;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 8.5%;
    top: 11%;
}

.popup2-e{
    background: transparent url(assets/formacion.png) no-repeat center center;
    position: absolute;
    width: 1920px !important;
    height: 1080px !important;
    top: -13px;
    left: -31px !important;
    background-size: 100%;
}
.close-popup-e{
    background: transparent url(assets/back.png) no-repeat center center;
    position: absolute;
    width: 78px;
    height: 78px;
    bottom: 52.9%;
    left: 3.08%;
}
.close-popup-e:hover{
    background: transparent url(assets/back_ho.png) no-repeat center center;
}
.send-e{
    background: transparent url(assets/send.png) no-repeat center center;
    position: absolute;
    width: 78px;
    height: 78px;
    bottom: 42.9%;
    left: 3.08%;
}
.send-e:hover{
    background: transparent url(assets/send_ho.png) no-repeat center center;
}

sub,
sup {
  font-size: 75%;
  vertical-align: super;
}

#js-close-videos {
    background: transparent url(assets/close.popup.png) 0 no-repeat;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 8.5%;
    top: 11%;
}