#slide_1x7{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}

/*OSICION DE LOS BOTONES POPUP*/

#slide_1x7 .btn-popup-1{
    left: 59%; top: 63%; width: 12.40%; height: 19.91%;
}
#slide_1x7 .btn-popup-2{
    left: 75.25%; top: 63%; width: 12.40%; height: 19.91%;
}


#popup1-7-1{
    background-image: url('assets/popup1.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 13%;
}

#popup1-7-2{
    background-image: url('assets/popup2.png');
    width: 87%;
    height: 100%;
    top: 7%;
    left:5% !important;
}

#popup1-7-1 .close-popup, #popup1-7-2 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
#slide_1x7 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x7 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x7 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_1x7 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_1x7 .bola1{top: 25%;}
#slide_1x7 .bola2{top: 31%;}
#slide_1x7 .bola3{top: 37%;}
#slide_1x7 .bola4{top: 43%;}
#slide_1x7 .bola5{top: 49%;}
#slide_1x7 .bola6{top: 55%;}
#slide_1x7 .bola7{top: 61%;}