#slide_1x6{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_1x6 .btn_1x6-goto1{
    background: transparent url('assets/home.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 88.5%;
    left: 93.5%;
    width: 70px;
    height: 70px;
    z-index: 10;
}
#slide_1x6llamada_popup1{
    position: absolute;
    width: 5%;
    height: 8%;
    left: 57%;
    top: 59%;
}
#slide_1x6capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#slide_1x6popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 1850px;
    height: 961px;
    z-index: 99;
}
#slide_1x6cerrar_popup1{
    position: absolute;
    top: 3%;
    right: 2%;
    width: 78px;
    height: 78px;
}