#slide_2x1{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_2x1 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_2x1 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_2x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x1 .btn-tv {
    background-image: url(assets/funsolTV.png);
    position: absolute;
    width: 200px;
    height: 190px;
    top: 4%;
    left: 87%;
    background-size: 100%;
}

#slide_2x1llamada_popup1{
    position: absolute;
    top: 34.72%;
    right: 9.90%;
    width: 272px;
    height: 256px;
}

#slide_2x1llamada_popup2{
    position: absolute;
    top: 63%;
    right: 9.90%;
    width: 272px;
    height: 256px;
}

#slide_2x1capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_2x1popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 24.07%;
    left: 16.15%;
    width: 68.02%;
    height: 50.74%;
}

#slide_2x1cerrar_popup1{
    position: absolute;
    top: 3%;
    right: 1%;
    width: 9%;
    height: 19%;
    /* background: red; */
}

#slide_2x1popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6.48%;
    left: 8.33%;
    width: 83.02%;
    height: 86.30%;
}

#slide_2x1cerrar_popup2{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 6.5%;
    height: 11%;
    /* background: red; */
}



