#slide_3x3{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%!important;
}
#slide_3x3 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x3 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#anuciotv_3x3{
    width: 430px;
    height: 252px;
    position: absolute;
    top: 29%;
    left: 9%;
}