[data-module="ap-add-slide-button"] {
    width: 64px;
    height: 50px;
    position: absolute;
    right: 5px;
    bottom: 0;
    z-index: 102;

}

[data-module="ap-add-slide-button"] .addButton{
    width: 64px;
    height: 50px;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100%;
    background-image: url("assets/add.png");
}

[data-module="ap-add-slide-button"].state-added .addButton{
    background-image: url("assets/remove.png");
}

.bhc-microsite [data-module="ap-add-slide-button"] {
    display: none !important;
}