#slide_1x5{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_1x5 .btn_1x5-goto1{
    background: transparent url('assets/home.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 88.5%;
    left: 93.5%;
    width: 70px;
    height: 70px;
    z-index: 10;
}
#slide_1x5llamada_popup1{
    position: absolute;
    width: 17%;
    height: 7%;
    left: 58.5%;
    top: 89%;
}
#slide_1x5llamada_popup2{
    position: absolute;
    top: 89%;
    left: 76%;
    width: 10%;
    height: 7%;
}

#slide_1x5capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_1x5popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: 1850px;
    height: 961px;
    z-index: 99;
}
#slide_1x5popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: 1850px;
    height: 961px;
    z-index: 99;
}
#slide_1x5cerrar_popup1{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 78px;
    height: 78px;
}
#slide_1x5cerrar_popup2{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 78px;
    height: 78px;
}
#slide_1x5 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 47%;
    left: 89%;
    position: absolute;
}