#slide_1x1{
    background: transparent url('assets/bg.png') no-repeat 0; 
    background-size: 100%;
}
#slide_1x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}

#slide_1x1 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}

#slide_1x1 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
/*#anuciotv_1xS{
    background: transparent url('assets/tv_supradyn.png') no-repeat center center;
    background-size: 100%;
        width: 129px;
    height: 137px;
    top: 2%;
    left: 87%;
    position: absolute;
}*/
#slide_1x1 .btn-popup-1{
    left: 8%;
    top: 69%;
    width: 250px;
    height: 250px;
}
#popup1-1-1{
    background-image: url('assets/popup1.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 12%;
}
#popup1-1-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
/*#slide_1x1 .bola1{top: 25%;}
#slide_1x1 .bola2{top: 31%;}
#slide_1x1 .bola3{top: 37%;}
#slide_1x1 .bola4{top: 43%;}
#slide_1x1 .bola5{top: 49%;}
#slide_1x1 .bola6{top: 55%;}
#slide_1x1 .bola7{top: 61%;}*/