#slide_3x0{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x0 .gotob{
    position: absolute;
    top: 34%;
    width: 332px;
    height: 511px;
}
#slide_3x0 .goto-box1{
    left: 23%;
}
#slide_3x0 .goto-box2{
    left: 41.3%;
}
#slide_3x0 .goto-box3{
    left: 59.6%;
}
#slide_3x0 .btn_goto{
    position: absolute;
    top: 94%;
    left: 40%;
    width: 60px;
    height: 60px;
}
#slide_3x0 .btn_pink{
    background: transparent url('assets/pink.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x0 .btn_purple{
    background: transparent url('assets/purple.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x0 .btn_blue{
    background: transparent url('assets/blue.png') no-repeat 0;
    background-size: 100%;
}

#icon3x0x1x1{
    background: transparent url('assets/icon1x1.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 36%;
    left: 7%;
    width: 16%;
    height: 43%;
}

#icon3x0x1x2{
    background: transparent url('assets/icon1x2.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 36%;
    left: 7%;
    width: 16%;
    height: 43%;
}

#icon3x0x2x1{
    background: transparent url(assets/icon2x1.png) no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 36%;
    left: 77%;
    width: 16%;
    height: 43%;
}
#icon3x0x2x2{
    background: transparent url('assets/icon2x2.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 36%;
    left: 77%;
    width: 16%;
    height: 43%;
}

.resaltar3x0{
    z-index: 500;
}

#slide_3x0 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x0 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
.container { 
    top: 39.2%;
    left: 7%;
    width: 302px;
    height: 466px;
    position: relative;
}
#card1,
#card2{
    width: 100%;
    height: 100%;
    position: absolute;
}
#card1 figure,
#card2 figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}
#card1 .front1 {
    background: transparent url('assets/icon1x1.png') no-repeat 0;
}
#card1 .back1 {
    display: none;
    background: transparent url('assets/icon1x2.png') no-repeat 0;

}

.container2 { 
    top: 39.6%;
    right: 7%;
    width: 302px;
    height: 466px;
    position: absolute;
}

#card2 .front2 {
    background: transparent url('assets/icon2x1.png') no-repeat 0;
}
#card2 .back2 {
    display: none;
    background: transparent url('assets/icon2x2.png') no-repeat 0;

}


/*** hello ***/
#slide_3x0 .hello{
    animation: hello 0.7s linear;
    -webkit-animation: hello 0.7s linear;	
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

@keyframes hello {
    0% { 
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }	
    100% {
        transform: scale(1);
    }			
}

@-webkit-keyframes hello {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.95);
    }	
    100% {
        -webkit-transform: scale(1);
    }			
}

#anuciotv_3x{
    background: transparent url('assets/tv_bepanthol.png') no-repeat center center;
}