#slide_3x4{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x4 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x4 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x4 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x4 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#cajagrande3x4{
    /*background: blueviolet;*/
    position: absolute;
    top: 18.52%;
    left: 7.81%;
    width: 84.38%;
    height: 69.72%;
    overflow: hidden;
    text-align: center;
}

.caja3x4{
    display:inline-block;
    height: 100%;
}

#box3x4x1, #box3x4x2{
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.caja3x4x1{
    background: transparent url('assets/item1.png') no-repeat 0;
    background-size: 100%; 
    width: 30.86%;
}
.caja3x4x1_long{
    background: transparent url('assets/item1_long.png') no-repeat 0;
    background-size: 100%;
    width: 81.73%;
}
.cortador3x4x1{
    width: 16.67%;
    background-position-x: 106.19%;
    background-size: 180%;
}

.caja3x4x2{
    background: transparent url('assets/item2.png') no-repeat 0;
    background-size: 100%;
    width: 30.86%;
}
.caja3x4x2_long{
    background: transparent url('assets/item2_long.png') no-repeat 0;
    background-size: 100%;
    width: 81.73%;
}
.cortador3x4x2 {
    width: 16.67%;
    background-position-x: 1.19%;
    background-size: 180%;
}



#slide_3x4llamada_popup1{
    /* background: red; */
    position: absolute;
    top: 23%;
    left: 68%;
    width: 7%;
    height: 12%;
    /* opacity: 0.5; */
}

#slide_3x4llamada_popup2{
    /* background: blue; */
    position: absolute;
    top: 23%;
    left: 83%;
    width: 7%;
    height: 11%;
    /* opacity: 0.5; */
}

#slide_3x4capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_3x4popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 6%;
    left: 1%;
    width: 98%;
    height: 92%;
}

#slide_3x4cerrar_popup1{
    /* background: red; */
    position: absolute;
    top: 5%;
    left: 94%;
    width: 4%;
    height: 8%;
}

#slide_3x4popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 6%;
    left: 1%;
    width: 98%;
    height: 92%;
}

#slide_3x4cerrar_popup2{
    position: absolute;
    top: 4%;
    left: 94%;
    width: 4%;
    height: 9%;
}



#title3x4{
    position: absolute;
}

.titulo3x4x0{
    background: transparent url('assets/title0.png') no-repeat 0;
    background-size: 100%;
    width: 60.16%;
    height: 8.33%;
    top: 9.26%;
    left: 19.79%;
}
.titulo3x4x1{
    background: transparent url('assets/title1.png') no-repeat 0;
    background-size: 100%;
    width: 52.66%;
    height: 9.07%;
    top: 9.26%;
    left: 23.44%;
}
.titulo3x4x2{
    background: transparent url('assets/title2.png') no-repeat 0;
    background-size: 100%;
    width: 55.73%;
    height: 9.44%;
    top: 9.26%;
    left: 23.44%;
}

#reference3x4{
    position: absolute;
}

.referencia3x4x0{
    background: transparent url('assets/text0.png') no-repeat 0;
    background-size: 100%;
    width: 83%;
    height: 3%;
    bottom: 7%;
    left: 9%;

}
.referencia3x4x1{
    background: transparent url('assets/text1.png') no-repeat 0;
    background-size: 100%;
    width: 83%;
    height: 5%;
    bottom: 7%;
    left: 9%;
}
.referencia3x4x2{
    background: transparent url('assets/text2.png') no-repeat 0;
    background-size: 100%;
    width: 83%;
    height: 3%;
    bottom: 7%;
    left: 9%;
}



#slide_3x4 .btn-ver-video {
    position: absolute;
    width: 458px;
    height: 230px;
    top: 24%;
    left: 7%;
}



#anuciotv_3x4{
    position: absolute;
    top: 222px;
    left: 140px;
    width: 235px;
    height: 240px;
    z-index: 1;
}

#anuciotv_3x{
    background: transparent url('assets/tv_bepanthol.png') no-repeat center center;
}