#slide_1x3{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}
#slide_1x3 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_1x3 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_1x3 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_1x3 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#popup1_3_1_btn_video{
    position: absolute;
    top: 22%;
    left: 6%;
    width: 17%;
    height: 32%;
}
#anuciotv_1xS{
    width: 241px;
    height: 256px;
    top: 27%;
    left: 11%;
    position: absolute;
}
/*#slide_1x3 .bola1{top: 25%;}
#slide_1x3 .bola2{top: 31%;}
#slide_1x3 .bola3{top: 37%;}
#slide_1x3 .bola4{top: 43%;}
#slide_1x3 .bola5{top: 49%;}
#slide_1x3 .bola6{top: 55%;}
#slide_1x3 .bola7{top: 61%;}*/