#slide_2x2{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_2x2 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_2x2 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_2x2 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_2x2 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_2x2 .btn-tv {
    background-image: url(assets/funsolTV.png);
    position: absolute;
    width: 200px;
    height: 190px;
    top: 4%;
    left: 87%;
    background-size: 100%;
}

#slide_2x2llamada_popup1{
    /* background: red; */
    position: absolute;
    top: 73.15%;
    left: 38.39%;
    width: 70px;
    height: 70px;
    /* opacity: 0.5; */
}

#slide_2x2llamada_popup2{
    /* background: blue; */
    position: absolute;
    top: 76.11%;
    left: 79.01%;
    width: 70px;
    height: 70px;
    /* opacity: 0.5; */
}

#slide_2x2capa_popup{
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_2x2popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 12.04%;
    left: 15.63%;
    width: 69.64%;
    height: 78.70%;
}

#slide_2x2cerrar_popup1{
    /* background: red; */
    position: absolute;
    top: 4%;
    right: 2%;
    width: 8%;
    height: 12%;
}

#slide_2x2popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 12.96%;
    left: 5.73%;
    width: 87.81%;
    height: 75.37%;
}

#slide_2x2cerrar_popup2{
    /* background: red; */
    position: absolute;
    top: 5%;
    right: 2%;
    width: 6%;
    height: 11%;
}
