[data-module="ap-overview"] {
    display: none;
}

[data-module="ap-overview"].state-visible{
    display: block;
}

[data-module="ap-overview"].state-customOverview{
    display: block;
}
[data-module="ap-overview"].state-customOverview .overview{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
}

[data-module="ap-overview"].state-visible .overview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

[data-module="ap-overview"] .overview .collectionsList{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    padding: 15px;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
}


[data-module="ap-overview"] .overview .collectionsList .collectionName{
    background: transparent url(assets/arrowRX.png) no-repeat right;
    overflow: visible;
    padding-right: 15px;
    margin-right: 8px;
    margin-left: 3px;
    padding: 10px 25px 5px 10px;
    margin-top: 4px;
    background-size: 21px;
}
[data-module="ap-overview"] .overview .collectionsList .collectionName.selected{
    -webkit-box-shadow: inset 0 0 15px 0 rgba(50, 155, 197, 0.4);
    box-shadow: inset 0 0 15px 0 rgba(50, 155, 197, 0.4);
    -moz-box-shadow: inset 0 0 15px 0 rgba(50, 155, 197, 0.4);
    border-radius: 4px;
}

[data-module="ap-overview"] .overview .collectionOverview{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);

}

.o_collection{
    float: left;
    white-space: nowrap;
    padding: 15px;
}

.o_slideshow{
    display: inline-block;

    width: 136px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}

.o_slideshowName{
    display: table-cell;
    font-size: 12px;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    width: 144px;
}

.o_slide{
    float: left;
    text-align: center;
    font-size: 13px;
    /*background: url("res/SN_.png");*/
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: 100%;
    -webkit-outline: 1px solid lightgray;
    -moz-outline: 1px solid lightgray;
    -webkit-box-shadow: 2px 2px 2px gray;
    -moz-box-shadow: 2px 2px 2px gray;
    box-shadow: 2px 2px 2px gray;
    width: 136px;
    height: 102px;
    margin: 4px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -moz-transition: -moz-transform .3s;
    color: transparent;

}

.o_slide.highlighted {
    -webkit-box-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    outline: 1px solid black;
}
