#slide_4x2{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_4x2 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_4x2 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_4x2 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x2 .bola.activa {
    background-image: url(assets/boton_activo.png);
}

#slide_4x2 .img20,
#slide_4x2 .img50 {
    position: absolute;
    background: transparent no-repeat 0 0; 
    background-size: 100%;
}

#slide_4x2 .img20.botes,
#slide_4x2 .img50.botes {
    top: 24%;
    left: 9%;
    width: 752px;
    height: 684px;
}

#slide_4x2 .img20.botes{
    background-image:  url('assets/img20.png');
}

#slide_4x2 .img50.botes{
    background-image: url('assets/img50.png'); 
}

#slide_4x2 .img20.texto,
#slide_4x2 .img50.texto {
    width: 706px;
    height: 547px;
    top: 29.34%;
    left: 51.53%;
}

#slide_4x2 .img20.texto{
    background-image:  url('assets/img20texto.png');
}

#slide_4x2 .img50.texto{
    background-image:  url('assets/img50texto.png');
}

#slide_4x2 .radio20{
    background: transparent url('assets/radio_20.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    width: 5.21%;
    height: 9.26%;
    top: 84.26%;
    left: 17.19%;
    z-index: 1;
}
#slide_4x2 .radio50{
    background: transparent url('assets/radio_50.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    width: 5.21%;
    height: 9.26%;
    top: 84.26%;
    left: 17.19%;
    z-index: 1;
}

.img50, .radio50{
    display: none;
}

#slide_4x2 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 32%;
    left: 33%;
    position: absolute;
    z-index: 1;
}

#slide_4x2llamada_popup1{
    position: absolute;
    top: 11.56%;
    left: 51.5%;
    width: 21%;
    height: 7.48%;
    z-index: 3;
}
#slide_4x2llamada_popup2{
    position: absolute;
    top: 11.56%;
    left: 72.6%;
    width: 15%;
    height: 7.48%;
    z-index: 3;
}
#slide_4x2capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 4;
}
#slide_4x2popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 4.48%;
    left: 9.31%;
    width: 1604px;
    height: 1015px;
    z-index: 4;
}
#slide_4x2popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 1.48%;
    left: 7.13%;
    width: 1639px;
    height: 1043px;
    z-index: 4;
}
#slide_4x2cerrar_popup1{
    position: absolute;
    top: 6.91%;
    right: 4.65%;
    width: 8.91%;
    height: 11.94%;
}
#slide_4x2cerrar_popup2{
    position: absolute;
    top: 9.46%;
    right: 5.28%;
    width: 8.91%;
    height: 11.94%;
}
#slide_4x2 .btn-tv{
    background-image: url(assets/tv_iberogast.png);
    background-size: 100%;
    width: 160px;
    height: 180px;
    top: 0;
    left: 0%;

}