#expositor{
    background: transparent url('assets/img/bg.png') no-repeat 0; 
    background-size: 100%;
}

.btn_pop {
    position: absolute;
    width: 57px;
    height: 57px;
    right: 5%;
    top: 5%;
}
.contenedor.verde > .div_img_diapo > .btn_pop { background: transparent url('assets/img/pop_up_verde.png') no-repeat 0;}
.contenedor.azul > .div_img_diapo > .btn_pop { background: transparent url('assets/img/pop_up_azul.png') no-repeat 0;}


#contentlista{
    background: none;
    height: 76%;
    top: 19%;
    width: 100%;
    z-index: 1;
}

#div_list_view{
    position: absolute;
    width: 66.15%;
    height: 100%;
    left: 15%;
}
.listados {
    position: absolute;
    width: 80%;
    /*    height: 57px;*/
    left: 9%;
}
.lista{
    position: relative;
    float: left;
    font-family: "Helvetica-Light", Helvetica, sans-serif;
    font-size: 28px;
    background-color: #eeedee;
    color: #39393a;
    border-radius: 7px;
    box-shadow: inset 0 1px 10px 0 rgba(155, 154, 155, 0.5);
    width: 27%;
}
#lista_marca > li:nth-child(4) { color: #076e9e; }
#lista_marca > li:nth-child(3) { color: #65b32e; }

#expositor ul { 
    margin-left: 5%;
    list-style-type: none;
    height: 100%;
    padding: 17px;
    z-index: 6;
}

#expositor ul > span {
    color: #999;
    font-size: 22px;
}

#expositor ul > div {
    width: 24px;
    height: 15px;
    position: relative;
    float: right;
    margin-top: 8px;
    padding-left: 6px;
    color: #008aca;
    background: transparent url('assets/img/ic-fletxa.png') no-repeat center center;
    background-size: 68%;
}

#expositor ul > div.rotar {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
#expositor li {
    position: relative;
    line-height: 1.25em;
    width: 380px;
    padding: 9px 17px 9px 0;
    display: none;
    z-index: 3;
    border-bottom: solid 2px #ffffff;
    margin-bottom: 0px;
    top: 12%;
    font-size: 22px;
}


#expositor .lista > li:nth-child(3) { 
    margin-top: 13px;
    border: none;
    border-bottom: solid 2px #ffffff;
}
#expositor .lista > li:last-child { border-radius: 0 0 7px 7px;}

.div_txt{
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 20px;
}

.img_diapo{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.div_img_diapo{
    width: 500px;
    height: 437px;
    float: left;
    overflow: hidden;
    position: relative;
}
#expositor p {
    display: none;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 0px;
    text-align: center;
}

#expositor .azul p{
    color: #313371;
}

#expositor .verde p{
    color: #1d6b39;
}


.text_nombre{
    bottom: 20px;   
    font-family: "Helvetica-Bold", Helvetica, sans-serif ;
    font-size: 30px;
    color: #313371;
}


.contenedor_principal {
    position: absolute;
    left: 0.00%;
    bottom: 5%;
    width: 100%;
    height: 85%;
    z-index: 2;
}

.SinResultado{
    color: #5fa7a8;
    font-family: HelveticaNeue;
}

#expositor .swiper-container {
    position: absolute;
    height: 85%;
    width: 94%;
    top: 10%;
    left: 5%;   
}

#expositor .swiper-slide {
    width: 42.8%;
    height: 100%;
}
#expositor .swiper-slide img {
    padding-top: 0%;
}
#expositor .swiper-button-next{
    width: 52px;
    height: 52px;
    top: 50%;
    left: 105%;
}
#expositor .swiper-button-prev{
    width: 52px;
    height: 52px;
    top: 50%;
    left: -5%;
}

#expositor .swiper-slide-active p {
    display: block;
}

#expositor .swiper-button-next { background: transparent url('assets/img/next.png') no-repeat 0;}
#expositor .swiper-button-prev { background: transparent url('assets/img/prev.png') no-repeat 0;}

.contenedor {
    width: 100%;
    height: 79%;
    background-color: white;
    border: 4px solid;
}
.contenedor.azul { border-color: #008aca;}
.contenedor.verde { border-color: #65b22e;}
#expositor sup {
    font-size: 75%;
    vertical-align: middle; 
}