#slide_1x0{
    background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;
}
#slide_1x0 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_1x0 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
