#slide_4x1{
    background: transparent url('assets/bg1.png') no-repeat 0;
    background-size: 100%;
}
#slide_4x1 .ref2{
    background: transparent url('assets/ref2.png') no-repeat 0;
    background-size: 100%;
    width: 1040px;
    height: 33px;
    left: 9.5%;
    bottom: 2.5%;
    position: absolute;
    opacity: 0;
}
#slide_4x1 .active{
    opacity: 1;
}
#slide_4x1 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_4x1 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_4x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}

#slide_4x1llamada_popup1{
    position: absolute;
    top: 85.56%;
    left: 46.5%;
    width: 11%;
    height: 6.48%;
    z-index: 3;
}

#slide_4x1llamada_popup2{
    position: absolute;
    top: 85.56%;
    left: 57.6%;
    width: 11%;
    height: 6.48%;
    z-index: 3;
}
#slide_4x1llamada_popup3{
    position: absolute;
    top: 85.56%;
    left: 69.5%;
    width: 11%;
    height: 6.48%;
    z-index: 3;
}

#slide_4x1llamada_popup4{
    position: absolute;
    top: 85.56%;
    left: 80.5%;
    width: 11%;
    height: 6.48%;
    z-index: 3;
}

#slide_4x1capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 4;
}

#slide_4x1popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6.48%;
    left: 20.31%;
    width: 1239px;
    height: 971px;
    z-index: 4;
}

#slide_4x1popup2{
    background: transparent url('assets/popup2.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 6.48%;
    left: 27.13%;
    width: 856px;
    height: 934px;
    z-index: 4;
}
#slide_4x1popup3{
    background: transparent url('assets/popup3.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 0%;
    left: 6%;
    width: 1693px;
    height: 1073px;
    z-index: 4;
}

#slide_4x1popup4{
    background: transparent url('assets/popup4.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1921px;
    height: 1081px;
    z-index: 4;
}

#slide_4x1cerrar_popup1{
    position: absolute;
    top: 5.91%;
    right: 5.65%;
    width: 13.91%;
    height: 11.94%;
}

#slide_4x1cerrar_popup2{
    position: absolute;
    top: 7.46%;
    right: 8.28%;
    width: 13.91%;
    height: 11.94%;
}
#slide_4x1cerrar_popup3{
    position: absolute;
    top: 12.91%;
    right: 8.65%;
    width: 5.94%;
    height: 7.94%;
    z-index: 2;
}

#slide_4x1cerrar_popup4{
    position: absolute;
    top: 12.46%;
    right: 13.28%;
    width: 5.91%;
    height: 9.94%;
}

#estomago {
    background-image: url(assets/estomago-verde.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 15.74%;
    left: 40%;
    width: 56.25%;;
    height: 75.28%;
}
#estomago .estomago {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
#slide_4x1 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 51%;
    left: 41%;
    position: absolute;
    z-index: 2;
}
.pasos {
    position: absolute;
    width: 1693px;
    height: 1073px;
    left: 0%;
    top: 0%; 
    background: transparent no-repeat 0 0;
    background-size: 99%;    
    opacity: 0; 
}
/*
.pasos.paso-1 {
    background-image:  url('assets/paso-1.png');
}
.pasos.paso-2 {
    background-image:  url('assets/paso-2.png');
}
.pasos.paso-3 {
    background-image:  url('assets/paso-3.png');
}
.pasos.paso-4 {
    background-image:  url('assets/paso-4.png');
}*/
.pasos.paso-5 {
    background-image:  url('assets/paso-5.png');
    opacity: 1;
}
#slide_4x1 .btn-tv{
    background-image: url(assets/tv_iberogast.png);
    background-size: 100%;
    width: 282px;
    height: 311px;
    top: 0;
    left: 0%;
}