#producto {
    background: transparent no-repeat center center;
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#producto.verde { 
    background-image: url('assets/bg-verde.png'); 
    color: #1d6b39; }
#producto.azul { 
    background-image: url('assets/bg-azul.png'); 
    color: #076e9e;
}
#producto.verde .mas-pvl{
    background-image: url('assets/boton-mas-v.png');
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
}
#producto.azul .mas-pvl{
    background-image: url('assets/boton-mas-a.png');
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
}
#producto .toggle-pvl{
    width: 186px;
}

#producto .bocadillo-pvl-0, #producto .bocadillo-pvl-1, #producto .bocadillo-pvl-2 {
    width: 0px;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: 55px;
    position: relative;
    left: 115%;
    bottom: 9px;
    align-items: center;
    display: flex;
    text-align: left;
    padding-left: 33px;
}
#producto #producto-pvl span {
    font-family: HelveticaNeueLTPro-Roman, Helvetica, sans-serif;
    font-size: 27px;
}
#producto .bocadillo-pvl-0.toggle-pvl{
    width: 370px;
    height: 78px;
}
#producto .bocadillo-pvl-1.toggle-pvl{
    width: 370px;
    height: 117px;
    top: -29px;
}
#producto .bocadillo-pvl-2.toggle-pvl{
    width: 370px;
    height: 168px;
    top: -56px;
}


#producto.verde .bocadillo-pvl-0{background-image: url('assets/bocadillo-v0.png');}
#producto.azul .bocadillo-pvl-0{background-image: url('assets/bocadillo-a0.png');}

#producto.verde .bocadillo-pvl-1{background-image: url('assets/bocadillo-v1.png');}
#producto.azul .bocadillo-pvl-1{background-image: url('assets/bocadillo-a1.png');}

#producto.verde .bocadillo-pvl-2{background-image: url('assets/bocadillo-v2.png');}
#producto.azul .bocadillo-pvl-2{background-image: url('assets/bocadillo-a2.png');}


#producto.verde .atras{background-image: url('assets/but-back-verde-neg.png');}
#producto.azul .atras{background-image: url('assets/but-back-azul-neg.png');}

/*ZONA CENTRAL - RENDER DEL PRODUCTO*/

#render-producto{
    position: absolute;
    top: 110px;
    left: 136px;
    z-index: 1;
}
#render-baldas{
    position: absolute;
    top: 120px;
    left: 160px;
    z-index: 1;
}
#render-baldas {
    width: 945px;
    height: 830px;
    display: none;
}
.bg-renders {
    position: absolute;
    top: 70px;
    left: 240px;
    width: 800px;
    height: 800px;
}

/*ZONA IZQUIERDA - BALDAS + BOTON ATRAS*/

#producto .wrapper-baldas  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    height: 17%;
    width: 800px;
    bottom: 5%;
    left: 61%;
    position: absolute;
    z-index: 10;
}
#producto .wrapper-baldas img {
    display: block;
    width: 200px;
    height: 175px;
    border: solid 2.8px;
    margin-right: 4%;
    left: 0%;
    top: 0%;
    position: relative;
    background-color: white;
}
#producto .wrapper-baldas img.active {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
#producto .atras{
    position: absolute;
    width: 78px;
    height: 78px;
    left: 4.3%;
    top: 46.8%;
    z-index: 6;
}

/*ZONA DERECHA - INFO*/

#producto .wrapper-info  {
    width: 669px;
    height: 80%;
    left: 61%;
    position: relative;
    z-index: 5;
}
#producto .producto-logo {
    text-align: left;
}
#producto .producto-tipo {
    font-size: 37px;
    font-family: Gotham-Bold;
    font-weight: initial;
    text-align: left;
}
#producto .producto-tipo span {
    border-bottom-style: solid;
    border-bottom-width: 6px;
}
#producto .producto-descripcion {
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 42px;
}
#producto .producto-descripcion span{
    font-size: 24px;
    text-align: left;
}
#producto .producto-descripcion sup {
    font-family: Helvetica, sans-serif;
    top: 0;
}
#producto .producto-informacion {
    width: 572px;
    height: 128px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#producto .producto-informacion span{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.67;
    letter-spacing: -0px;
    text-align: left;
    padding: 20px;
    color: #008aca;
}
#producto .producto-informacion span b{
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
}
#producto .producto-codigo {
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 12px;
    line-height: 1.2;
}
#producto .producto-codigo sup{
    font-size: 20px;
    top: 0;
}
#producto .mas-pvl{
    z-index: 10;
    text-align: left;
    margin-top: 100px;
}


#producto .producto-medidas {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
#producto sup {
    font-size: 75%;
    vertical-align: super;
}
