#slide_3x8{
    background: transparent url('assets/bg.png') no-repeat 0;
    background-size: 100%;
}
#slide_3x8 .boton_expositor{
    background: transparent url("assets/boton_expo.png") no-repeat center center;
}
#slide_3x8 .boton_expositor:hover{
    background: transparent url("assets/boton_expo_ho.png") no-repeat center center;
}
#slide_3x8 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_3x8 .bola.activa {
    background-image: url(assets/boton_activo.png);
}

#slide_3x8llamada_popup1{
    /*background: red;*/
    position: absolute;
    top: 44%;
    left: 55%;
    width: 6%;
    height: 10%;
    /*opacity: 0.5;*/
}


#slide_3x8capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#slide_3x8popup1{
    background: transparent url('assets/popup1.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 94%;
    height: 91%;
}

#slide_3x8cerrar_popup1{
    /* background: red; */
    /* opacity: 0.5; */
    position: absolute;
    top: 6%;
    right: 2%;
    width: 4%;
    height: 9%;
}


#anuciotv_3x{
    background: transparent url('assets/tv_bepanthol.png') no-repeat center center;
}