#slide_4x1{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}

#slide_4x1 .btn-popup-1{
    left: 9.41%;
    top: 73.61%;
    width: 20.2%;
    height: 11.91%;
}
#slide_4x1 .btn-popup-2{
    left: 29.6%;
    top: 73.61%;
    width: 20.2%;
    height: 11.91%;
}
#slide_4x1 .btn-popup-3{
    left: 49.9%;
    top: 73.61%;
    width: 20.2%;
    height: 11.91%;
}
#slide_4x1 .btn-popup-4{
    left: 70%;
    top: 73.61%;
    width: 20.2%;
    height: 11.91%;
}

#popup4-1-1{
    background-image: url('assets/popup1.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 13%;
}

#popup4-1-2{
    background-image: url('assets/popup2.png');
    width: 69%;
    height: 78%;
    top: 11%;
    left: 13%;
}

#popup4-1-3{
    background-image:  url('assets/popup3.png');
    width: 71%;
    height: 72%;
    top: 11%;
    left: 13%;
}
#popup4-1-4{
    background-image:  url('assets/popup4.png');
    width: 48%;
    height: 63%;
    top: 13%;
    left: 23%;
}

#popup4-1-1 .close-popup, #popup4-1-2 .close-popup, #popup4-1-3 .close-popup, #popup4-1-4 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}

#slide_4x1 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_4x1 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x1 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x1 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_4x1 .bola1 {
    top: 42% !important;
}
#slide_4x1 .bola2 {
    top: 48% !important;
}
#slide_4x1 .bola3 {
    top: 54% !important;
}
/*#slide_4x1 .btn-home {
    background: transparent url(assets/back.png) no-repeat center center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    background-size: 70%;
}*/

#slide_4x1 .btn-home {
    background: transparent url(../../slides/slide_4x1/assets/btn_prec.png) no-repeat center center;
    width: 353px;
    height: 140px;
    position: absolute;
    top: 86%;
    right: 41%;
    background-size: 80%;
}

#popup4-1-1{
    background-image: url('assets/popup1.png');
    width: 96%;
    height: 88%;
    top: 5%;
    left: 0%;
}
#slide_4x1 .btn-popup-1 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 46%;
    top: 54%;
    background-size: 100%;
}
#popup4-1-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}